<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wallstreetsim">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name="com.wallstreetsim.activities.MainActivity"
            android:theme="@style/AppTheme"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.wallstreetsim.activities.SettingsActivity"
            android:parentActivityName="com.wallstreetsim.activities.MainActivity"
            android:label="@string/action_settings"
            android:theme="@style/AppTheme">
        </activity>

        <activity
            android:name="com.wallstreetsim.activities.MySharesActivity"
            android:parentActivityName="com.wallstreetsim.activities.MainActivity"
            android:label="@string/action_myShares"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.wallstreetsim.activities.SharePriceActivity"
            android:parentActivityName="com.wallstreetsim.activities.MainActivity"
            android:label="@string/action_sharePrice"
            android:theme="@style/AppTheme" />
    </application>
</manifest>