<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ebproductions.www.wallstreetsimulator">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:parentActivityName=".MainActivity"
            android:label="@string/action_settings"
            android:theme="@style/AppTheme">
            <!--<intent-filter>
                 hier werden Eintrittspunkte für die Activity deklariert.
                 category.LAUNCHER heißt dass es vom app-launcher aufzurufen ist.
                 wird benutzt um einer Activity eine <action> zuzuweisen, wodurch
                 diese activity auch direkt aufgerufen werden kann, ohne durch das menu gehen
                 zu müssen(z.B. wenn man was auf Facebook teilen will, wird
                 sofort die Share-Seite aufgerufen).
                 BEHINDERT: Das Programm kann nicht builden, wenn die Tags
                 <intent-filter></intent-filter> nicht auch auskommentiert sind.
            </intent-filter>-->
        </activity>

        <activity
            android:name=".MySharesActivity"
            android:parentActivityName=".MainActivity"
            android:label="@string/action_myShares"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".SharePriceActivity"
            android:parentActivityName=".MainActivity"
            android:label="@string/action_sharePrice"
            android:theme="@style/AppTheme" />
    </application>
</manifest>